---
import Layout from '../layouts/Layout.astro';
import Astro_logo from '../components/Astro_logo.astro';
import '../styles/main.css';
import './randomNumber.js';

---
<script>
	const buttonClic = document.getElementById("buttonClic");
	const buttonBet = document.getElementById("buttonBet");
	let counter = document.getElementById('counter');
	let pierde = document.getElementById('pierde');
	let contentBet = document.getElementById('contentBet');

	buttonClic.onclick = function() {
		let counterUp = parseInt(counter.textContent) + 1;
		if(counterUp == 11) { counterUp = 0 }
		counter.textContent = counterUp.toString();
	}

	let resultado = Math.floor(Math.random() * 11);
	buttonBet.onclick = function() {
		if (resultado == parseInt(counter.textContent)) {
			let token = Math.random().toString(36).substr(2) + Math.random().toString(36).substr(2);
			document.cookie = "token=" + token;
			window.location.href = '/premio?token=' + token;
		}
		else {
			pierde.innerHTML = "<h1>Has perdido!</h1><h3>El número ganador era el " + resultado + "</h3><h2><a href='/' onclick='window.location.reload()' class='text-gradient'>¿Quieres la revancha?</a></h2>";
			contentBet.innerHTML = "";
		}
	}
	
	
</script>

<Layout title="Apuesta al Clic!">
	<main>
		<Astro_logo />
		<h1><span class="text-gradient">Apuesta al clic!</span><br/>Con Astro</h1>

		<hr/>
		<br/><br/>

		<button id="buttonClic" class="red-button text-gradient">Clic</button>

		<div class="counter">
			<span id="counter">0</span>
		</div>

		<br/><br/>
		<div id="contentBet">
			<button id="buttonBet" class="bet-button">🎲 Prueba suerte! 🎲</button>
		</div>
		<div id="pierde"></div>
	</main>
</Layout>

