---
import Layout from "../layouts/Layout.astro";
import Astro_logo from "../components/Astro_logo.astro";
import "../styles/main.css";

const url = Astro.url;
let tokenUrl = url.searchParams.get('token');
let tokenCookie = Astro.cookies.get("token");

if (tokenCookie.value != tokenUrl) {
  return Astro.redirect('/');
}
---

<Layout title="GANASTE al Clic!">
  <main transition:animate="slide">
    <Astro_logo />
    <h1><span class="text-gradient">Enhorabuena!</span></h1>
    <hr/>
    <br/><br/>
    <h2><span class="text-gradient">WEBREACTIVA PREMIUM</span> agradece tu participación!</h2>
    <h2>Has ganado un <span class="calambrazo">CALAMBRAZO!</span></h2>
    <img src="https://user-images.githubusercontent.com/1122071/265408979-599c4ff1-58b2-4990-b1b4-951313f54750.jpeg" alt="">
    <br/>
    <h1><a href="/" class="text-gradient"> Prueba de nuevo! </a></h1>
  </main>
</Layout>
